{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Gastos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <header>
        <div class="top-bar">
            <h1>Gestión de Gastos</h1>
        </div>
    </header>
    <main class="content-container">
        <section>
            <header>
                <h2>Generar Gastos Comunes</h2>
                <span>Generación de Gastos Comunes para todos los departamentos</span>
            </header>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-group"> 
                    <div class="input-container">
                        <label for="monthYear">Mes/Año</label>
                        <input id="monthYear" name="monthYear" type="text" pattern="\d{2}-\d{4}" placeholder="MM-YYYY" required>
                    </div>
                    <div class="input-container">
                        <label for="mount">Monto</label>
                        <input id="mount" name="mount" type="number" required>
                    </div>
                </div>
                <div class="form-buttons">
                    <button type="reset">Limpiar</button>
                    <button type="submit">Generar Gasto Común</button>
                </div>
            </form>
        </section>
        <section>
            <header class="header-container">
                <div>
                    <h2>Realizar Pago Gasto Común</h2>
                    <span>Sección de Pago para Gasto Común</span>
                </div>
            </header>
            <form action="{% url 'pagar_gasto_comun' %}" method="POST">
                {% csrf_token %}
                <div class="input-container">
                    <label for="departmentNumber">N° Departamento</label>
                    <select id="departmentNumber" name="departmentNumber" required>
                        <option value="">Seleccione un departamento</option>
                        {% for departamento in departamentos %}
                            <option value="{{ departamento.num_departamento }}">{{ departamento.num_departamento }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-container">
                    <label for="deuda">Deuda</label>
                    <select id="deuda" name="deuda" required>
                        <option value="">Seleccione una deuda</option>
                    </select>
                </div>
                <div class="input-container">
                    <label for="cancelTime">Periodo Cancelación</label>
                    <input id="cancelTime" name="cancelTime" type="text" readonly>
                </div>
                <div class="bottom-payment">
                    <h3>Monto: <span id="montoDeuda">0.00</span></h3>
                    <button type="submit">Pagar Gasto Común</button>
                </div>
            </form>
        </section>
        <section>
            <header class="header-container">
                <div>
                    <h2>Listado de Deudas Gastos Comunes</h2>
                </div>
                <form method="get" action="">
                    <label for="estado">Estado de Deuda:</label>
                    <select name="estado" id="estado">
                        <option value="">-- Todos --</option>
                        <option value="Deuda pendiente">Deuda pendiente</option>
                        <option value="Deuda pagada">Deuda pagada</option>
                    </select>
                    <button type="submit">Filtrar</button>
                </form>
            </header>
            <table border="1">
                <thead>
                    <tr>
                        <th>ID Deuda</th>
                        <th>Monto</th>
                        <th>Estado</th>
                        <th>Fecha de Deuda</th>
                        <th>Periodo de Deuda</th>
                        <th>Departamento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for deuda in deudas %}
                    <tr>
                        <td>{{ deuda.id_deuda }}</td>
                        <td>{{ deuda.monto|currency }}</td>
                        <td>{{ deuda.estado }}</td>
                        <td>{{ deuda.fecha_deuda }}</td>
                        <td>{{ deuda.periodo_deuda }}</td>
                        <td>{{ deuda.num_departamento.num_departamento }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No se encontraron deudas.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section>
            <header class="header-container">
                <div>
                    <h2>Listado de Pagos Gastos Comunes</h2>
                </div>
            </header>
            <table border="1">
                <thead>
                    <tr>
                        <th>ID Pago</th>
                        <th>Monto</th>
                        <th>Estado</th>
                        <th>Fecha de Pago</th>
                        <th>Periodo de Pago</th>
                        <th>Departamento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pago in pagos %}
                    <tr>
                        <td>{{ pago.id_pago }}</td>
                        <td>{{ pago.monto|currency }}</td>
                        <td>{{ pago.estado }}</td>
                        <td>{{ pago.fecha_pago }}</td>
                        <td>{{ pago.periodo_pago }}</td>
                        <td>{{ pago.num_departamento.num_departamento }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No hay pagos</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>