{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesitón Gastos Comunes</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>
    <header>
        <div class="top-bar">
            <h1>Gestión de Gastos</h1>
        </div>
    </header>
    <main class="content-container">
        <section>
            <header>
                <h2>Generar Gastos Comunes</h2>
                <span>Generación de Gastos Comunes para todos los departamentos</span>
            </header>
            <form action="" method="GET">
                {% csrf_token %}
                <div class="input-group"> 
                    <div class="input-container">
                        <label for="monthYear">Mes/Año</label>
                        <input id="monthYear" name="monthYear" type="text">
                    </div>
                    <div class="input-container">
                        <label for="mount">Monto</label>
                        <input id="mount" name="mount" type="number">
                    </div>
                </div>
                <div class="form-buttons">
                    <button>Limpiar</button>
                    <button type="submit">Generar Gasto Común</button>
                </div>
            </form>
        </section>
        <section>
            <header>
                <h2>Realizar Pago Gasto Común</h2>
                <span>Sección de Pago para Gasto Común</span>
            </header>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-container">
                    <label for="departmentNumber">N° Departamento</label>
                    <input id="departmentNumber" name="departmentNumber" type="number">
                </div>
                <div class="input-group">
                    <div class="input-container">
                        <label for="cancelDate">Fecha Cancelación</label>
                        <input id="cancelDate" name="cancelDate" type="date">
                    </div>
                    <div class="input-container">
                        <label for="cancelTime">Periodo Cancelación</label>
                        <input id="cancelTime" name="cancelTime" type="date">
                    </div>
                </div>
                <div class="bottom-payment">
                    <h3>Monto: $</h3>
                    <button type="submit">Pagar Gasto Común</button>
                </div>
            </form>
        </section>
        <section>
            <header class="header-container">
                <div>
                    <h2>Listado de Deudas Gastos Comunes</h2>
                    <span>Listado de Gastos Comunes</span>
                </div>
                <form method="get" action="">
                    <label for="estado">Estado de Deuda:</label>
                    <select name="estado" id="estado">
                        <option value="">-- Todos --</option>
                        <option value="Deuda pendiente">Deuda pendiente</option>
                        <option value="Deuda pagada">Deuda pagada</option>
                    </select>
                    <button type="submit">Filtrar</button>
                </form>
            </header>
            <table border="1">
                <thead>
                    <tr>
                        <th>ID Deuda</th>
                        <th>Monto</th>
                        <th>Estado</th>
                        <th>Fecha Pago de Deuda</th>
                        <th>Periodo de Deuda</th>
                        <th>Departamento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for deuda in deudas %}
                    <tr>
                        <td>{{ deuda.id_deuda }}</td>
                        <td>{{ deuda.monto|currency }}</td>
                        <td>{{ deuda.estado }}</td>
                        <td>{{ deuda.fecha_deuda }}</td>
                        <td>{{ deuda.periodo_deuda }}</td>
                        <td>{{ deuda.num_departamento.num_departamento }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No se encontraron deudas.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>